<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.yangwk.platform.db.mapper.user.UserMapper">

	<select id="findAll" resultType="com.github.yangwk.platform.db.model.user.User">
		select * from user
	</select>

	<select id="list" resultType="com.github.yangwk.platform.db.model.user.User">
		select * from user
		where 1 = 1
		<if test=" user.id != null">
			and id = #{user.id}
		</if>
		<if test=" user.name != null and user.name != '' ">
			and name like concat(concat('%',#{user.name}),'%')
		</if>
		order by name desc
	</select>

</mapper>